<ion-content  color="primary">
  <form [formGroup]="signupForm" #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" style="place-content: center;">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <h3 style="text-align: center;">Create your account</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="name" name="name" type="text" placeholder="Name"  ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input 
                formControlName="email"
                name="email" 
                type="email" 
                placeholder="your@email.com"                  
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" name="password" type="password" placeholder="Password"  ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="confirmpassword" name="confirm" type="password" placeholder="Password again"  ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="small" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
            <ion-button  size="small" expand="block" color="danger" (click)="cancel()">Cancel</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="error-message" *ngIf="!signupForm.get('confirmpassword').errors && signupForm.hasError('passwordNotMatch') && (signupForm.get('confirmpassword').dirty || signupForm.get('confirmpassword').touched)">
      Password and Confirm Password fields should match
    </div>
    <div class="error-message" *ngIf="signupForm.get('email').status === 'INVALID' && (signupForm.get('email').dirty || signupForm.get('email').touched)">
      Email not valid
    </div>
  </form>
</ion-content>



